<div class="featured-page">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Televizoare</h1>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div id="filters" class="button-group">
                    <button class="btn btn-primary" data-filter="*">All Products</button>
                    <button class="btn btn-primary" data-filter=".new">Newest</button>
                    <button class="btn btn-primary" data-filter=".low">Low Price</button>
                    <button class="btn btn-primary" data-filter=".high">Hight Price</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="featured container no-gutter">

    <div class="row posts gy-5">
        <div id="1" class="item new col-md-3">
            <a href="single-product.html" class="t1">
                <div class="featured-item">
                    <img src="../../assets/fular.jpg" alt="fular">
                    <!-- <img src="../../assets/{{images[0]}}" alt="fular"> -->
                    <!-- <h4>{{names[0]}}</h4>
                    <h6>{{prices[0]}} Lei</h6> -->
                </div>
            </a>
        </div>
        <div id="2" class="item high col-md-3">
            <a href="single-product.html">
                <div class="featured-item">
                    <img src="../../assets/fular.jpg" alt="fular">
                    <!-- <img src="../../assets/{{images[1]}}" alt=""> -->
                    <!-- <h4>{{names[1]}}</h4>
                    <h6>{{prices[1]}} Lei</h6> -->
                </div>
            </a>
        </div>
        <div id="3" class="item low col-md-3">
            <a href="single-product.html">
                <div class="featured-item">
                    <img src="../../assets/fular.jpg" alt="fular">
                    <!-- <img src="../../assets/{{images[2]}}" alt=""> -->
                    <!-- <h4>{{names[2]}}</h4>
                    <h6>{{prices[2]}} Lei</h6> -->
                </div>
            </a>
        </div>
        <div id="4" class="item low col-md-3">
            <a href="single-product.html">
                <div class="featured-item">
                    <img src="../../assets/fular.jpg" alt="fular">
                    <!-- <img src="../../assets/{{images[3]}}" alt=""> -->
                    <!-- <h4>{{names[3]}}</h4>
                    <h6>${{prices[3]}} Lei</h6> -->
                </div>
            </a>
        </div>
        <div id="5" class="item new high col-md-3">
            <a href="single-product.html">
                <div class="featured-item">
                    <!-- <img src="../../assets/{{images[4]}}" alt=""> -->
                    <!-- <h4>{{names[4]}}</h4>
                    <h6>{{prices[4]}} Lei</h6> -->
                </div>
            </a>
        </div>
    </div>
</div>