<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">

                <a href="/home" routerLink="/home" class="list-group-item list-group-item-action py-2 ripple active" routerLinkActive="active" aria-current="route.isActive ? 'true' : 'false'">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Home</span>
                </a>
                <a href="/jucarii" routerLink="/jucarii" class="list-group-item list-group-item-action py-2 ripple " routerLinkActive="active" aria-current="route.isActive ? 'true' : 'false'">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Jucarii</span>
                </a>
                <a href="/haine" routerLink="/haine" class="list-group-item list-group-item-action py-2 ripple " routerLinkActive="active" aria-current="route.isActive ? 'true' : 'false'">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Haine</span>
                </a>
                <a href="/televizoare" routerLink="/televizoare" class="list-group-item list-group-item-action py-2 ripple " routerLinkActive="active" aria-current="route.isActive ? 'true' : 'false'">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Televizoare</span>
                </a>
                <a href="/electrocasnice" routerLink="/electrocasnice" class="list-group-item list-group-item-action py-2 ripple " routerLinkActive="active" aria-current="route.isActive ? 'true' : 'false'">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Electrocasnice</span>
                </a>
                <a href="/calculatoare" routerLink="/calculatoare" class="list-group-item list-group-item-action py-2 ripple " routerLinkActive="active" aria-current="route.isActive ? 'true' : 'false'">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Calculatoare</span>
                </a>
                <a href="/product" routerLink="/product" class="list-group-item list-group-item-action py-2 ripple " routerLinkActive="active" aria-current="route.isActive ? 'true' : 'false'">
                    <i class="fas fa-users fa-fw me-3"></i><span>Produs</span></a>

                <a href="/login" routerLink="/login" class="list-group-item list-group-item-action py-2 ripple" routerLinkActive="active" aria-current="route.isActive ? 'true' : 'false'">
                    <i class="fas fa-users fa-fw me-3"></i><span>Login</span></a>

                <a href="/register" routerLink="/register" class="list-group-item list-group-item-action py-2 ripple" routerLinkActive="active" aria-current="route.isActive ? 'true' : 'false'">
                    <i class="fas fa-users fa-fw me-3"></i><span>Register</span></a>

            </div>
        </div>
    </nav>
    <!-- Sidebar -->


    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>



            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">

                <!-- Avatar -->
                <li class="nav-item dropdown">

                    <a class="nav-link" href="/cart" id="navbarDropdownMenuLink" role="button">
                        <img src="../../assets/cart.png" height="33" alt="Avatar" loading="lazy" />
                    </a>

                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
    <div class="container pt-4"></div>
</main>
<!--Main layout-->